<div class="collection-item-container ligne variantes text-center" id="collection-item{{ form.vars.id }}">
    
    {{ form_widget(form) }}
   
    <div><a href="javascript:void(0)" title="Supprimer" class="collection-item-delete">Delete</a></div>

</div>