{% extends 'base.html.twig' %}

{% block title %}Edit AttributeCategory{% endblock %}

{% block body %}
    <h1>Edit AttributeCategory</h1>

    {{ include('attribute_category/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('attribute_category_index') }}">back to list</a>

    {{ include('attribute_category/_delete_form.html.twig') }}
{% endblock %}
