{% extends 'base.html.twig' %}

{% block title %}New AttributeCategory{% endblock %}

{% block body %}
    <h1>Create new AttributeCategory</h1>

    {{ include('attribute_category/_form.html.twig') }}

    <a href="{{ path('attribute_category_index') }}">back to list</a>
{% endblock %}
